* {
	font-family: "Roboto Mono", monospace;
}

.body {
	text-align: center;
}

.list-container {
	display: flex;
	justify-content: center;
	padding: 5px;
}

.list-div {
	border: 2px solid black;
	background-color: lightcyan;
	height: 400px;
	width: 400px;
	margin: 5px;
	border-radius: 5px;
}

.input-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.input-text-box {
	height: 40px;
	padding: 0px;
	margin-bottom: 0px;
	border-radius: 5px;
	background-color: lightcyan;
}

.list-button {
	width: 35px;
	height: 35px;
	background-color: gold;
	text-align: center;
	padding: 0px;
}

button {
	width: 200px;
	height: 30px;
	border: 2px solid black;
	background-color: lightseagreen;
	color: white;
	border-radius: 5px;
	border-color: darkslategrey;
}

input {
	width: 605px;
	border: 2px solid black;
	padding-right: 5px;
}

li {
	display: flex;
	text-align: center;
	align-items: center;
	list-style: none;
	margin: 10px;
	justify-content: space-between;
	padding: 10px;
	border: 2px dotted black;
}

ul {
	padding: 0px;
}

#add-todo-button {
	height: 44px;
	width: 100px;
	margin-left: 3px;
}
